{% extends 'core/base.html' %}

{% block title %}Acerca de{% endblock %}

{% block content %}

<div class="container">
    <h4>Acerca de - Integrantes de Team Kurama Developers</h4>
</div>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
     
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i.ibb.co/hLhRcfG/Carousel-Gal1-KD.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://i.ibb.co/gRV1Fp8/Carousel-Gal4-KD.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://i.ibb.co/Ryqnttp/Carousel-Gal5-KD.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://i.ibb.co/4Y92Db6/Cap2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://i.ibb.co/QNYpY3B/Cap33.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://i.ibb.co/R91FMG1/Cap44.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://i.ibb.co/RzL0BPY/Captura55.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://i.ibb.co/1ZCqdML/Cap6.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://i.ibb.co/nncD97C/Cap1.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<div class="container">
    <h4>Información de Contacto</h4>
    <div class="row">
        <div class="col-md-4">
            <div class="card profile-card-3">
                <div class="background-block">
                    <img src="https://i.ibb.co/R3LMcmx/Perfil-KD.png" alt="profile-sample1" class="background"/>
                </div>
                <div class="profile-thumb-block">
                    <img src="https://i.ibb.co/s3xcskM/Perfil-Cade-KD.png" alt="profile-image" class="profile"/>
                </div>
                <div class="card-content">
                    <h2>Retamozo Candelaria<small>Ingeniería Informática</small></h2>
                    <div class="icon-block">
                        <a href="#">
                            <img src="https://i.ibb.co/1TrSdJx/Logo2-Face.png" alt="Face">
                        </a>
                        <a href="cel: 388-155137021">
                            <img src="https://i.ibb.co/VgvCDfg/Logo2-Celu.png" alt="Celu">
                        </a>
                        <a href="mailto:canderetamozo.67@gmail.com">
                            <img src="https://i.ibb.co/TYqgYJ7/Logo2-Gmai.png" alt="Gmai">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card profile-card-3">
                <div class="background-block">
                    <img src="https://i.ibb.co/R3LMcmx/Perfil-KD.png" alt="profile-sample1" class="background"/>
                </div>
                <div class="profile-thumb-block">
                    <img src="https://i.ibb.co/FbwDzQW/Img1.jpg" alt="profile-image" class="profile"/>
                </div>
                <div class="card-content">
                    <h2>Sivila Emilce<small>Ingeniería Informática</small></h2>
                    <div class="icon-block">
                        <a href="#">
                            <img src="https://i.ibb.co/1TrSdJx/Logo2-Face.png" alt="Face">
                        </a>
                        <a href="cel: 388-154646798">
                            <img src="https://i.ibb.co/VgvCDfg/Logo2-Celu.png" alt="Celu">
                        </a>
                        <a href="mailto:emilceandreasivila@gmail.com">
                            <img src="https://i.ibb.co/TYqgYJ7/Logo2-Gmai.png" alt="Gmai">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4>Video del propósito de Team Kurama Developers</h4>
    <div class="col-lg-6">
        <div class="ratio ratio-16x9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/McH9vcX-54k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <h4>Tabla de proyectos realizados por Team Kurama Developers</h4>
    <table class="table">
        <thead class="table-info">
            <tr>
                <th scope="col" class="text-center">Imágen del Proyecto</th>
                <th scope="col" class="text-center">Descripción del Proyecto</th>
                <th scope="col" class="text-center">Enlace del Proyecto</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row" class="text-center"><img src="https://i.ibb.co/MPLNJM0/proyectohtml8.png" alt="Logotipo Proyecto" style="margin:0 10px 0 0;padding:0px;border:0px none;font:inherit;vertical-align:baseline;max-width:100%;height:auto;width:143px" /></td>
                <td>
                    <h6>Se creó un sitio web que contiene tres páginas con los siguientes atributos:</h6>
                    <ul type=”circle”>
                        <li>El nombre del team y el nombre correspondiente a cada página en la etiqueta title.</li>
                        <li>Una imágen y la barra de navegación en la etiqueta header.</li>
                        <li>Datos de contacto en la etiqueta footer.</li>
                    </ul>
                    <h6>Cada página individualmente contiene lo siguiente:</h6>
                    <h6>index.html:</h6>
                    <ul type=”circle”>
                        <li>Título: Nombre del TEAM.</li>
                        <li>Propósito del sitio.</li>
                    </ul>
                    <h6>acercade.html:</h6>
                    <ul type=”circle”>
                        <li>Título: Nombre del TEAM.</li>
                        <li>Fotos de los integrantes con sus datos personales.</li>
                        <li>Un video de youtube relacionado con el propósito del team.</li>
                    </ul>
                    <h6>contacto.html:</h6>
                    <ul type=”circle”>
                        <li>Título: Nombre del TEAM.</li>
                        <li>Formulario de contacto.</li>
                    </ul>
                </td>
                <td class="text-center"><a href="/">Enlace TP8</a></td>
            </tr>
            <tr>
                <td scope="row" class="text-center"><img src="https://i.ibb.co/H2zJckK/proyectohtml9.png" alt="Logotipo Proyecto" style="margin:0 10px 0 0;padding:0px;border:0px none;font:inherit;vertical-align:baseline;max-width:100%;height:auto;width:143px" /></td>
                <td>
                    <h6>En el sitio web creado en el trabajo práctico 8 se implementó lo siguiente:</h6>
                    <ul type=”circle”>
                        <li>Una hoja de estilo CSS.</li>
                        <li>En la página acercade.html, se agregó una tabla que contiene una lista con los proyectos realizados por el equipo.</li>
                        <li>En la tabla se agregó una imágen del proyecto, la descripción del proyecto y un enlace hacia el proyecto.</li>
                    </ul>
                </td>
                <td class="text-center"><a href="acercade">Enlace TP9</a></td>
            </tr>
            <tr>
                <td scope="row" class="text-center"><img src="https://i.ibb.co/FbszvB0/proyectohtml10.png" alt="Logotipo Proyecto" style="margin:0 10px 0 0;padding:0px;border:0px none;font:inherit;vertical-align:baseline;max-width:100%;height:auto;width:143px" /></td>
                <td>
                    <h6>En el sitio web creado en el trabajo práctico 8 se modificó el formulario con los siguientes campos:</h6>
                    <ul type=”circle”>
                        <li>Nombre del postulante (obligatorio).</li>
                        <li>Domicilio (obligatorio).</li>
                        <li>Ciudad.</li>
                        <li>País con una lista desplegable (Argentina, Brasil, Uruguay, Paraguay, Bolivia).</li>
                        <li>Número de teléfono (obligatorio).</li>
                        <li>Correo electrónico (obligatorio).</li>
                        <li>Mensaje, TextArea.</li>
                    </ul>
                </td>
                <td class="text-center"><a href="contacto">Enlace TP10</a></td>
            </tr>
            <tr>
                <td scope="row" class="text-center"><img src="https://i.ibb.co/tZX2Z4v/proyectodjango11.png" alt="Logotipo Proyecto" style="margin:0 10px 0 0;padding:0px;border:0px none;font:inherit;vertical-align:baseline;max-width:100%;height:auto;width:143px" /></td>
                <td>
                    <h6>En el trabajo práctico 11 se realizó lo siguiente:</h6>
                    <ul type=”circle”>
                        <li>Se creó el proyecto en gitlab denominado teamNOMBRE_TEAM donde NOMBRE_TEAM corresponde al
                            nombre del equipo, se agregó a los compañeros de equipo y al profesor de la comisión de trabajos prácticos.</li>
                        <li>Se clonó el proyecto en una carpeta del entorno local.</li>
                        <li>Utilizamos pipenv para crear el entorno virtual en la carpeta creada anteriormente.</li>
                        <li>Se creó el proyecto django teamNOMBRE_TEAM.</li>
                        <li>Se implementó el sitio web diseñado en el trabajo práctico 9.</li>
                        <li>Subimos el proyecto al repositorio.</li>
                    </ul>
                </td>
                <td class="text-center"><a href="/">Enlace TP11</a></td>
            </tr>
            <tr>
                <td scope="row" class="text-center"><img src="https://i.ibb.co/3p62wh6/proyectodjango12.png" alt="Logotipo Proyecto" style="margin:0 10px 0 0;padding:0px;border:0px none;font:inherit;vertical-align:baseline;max-width:100%;height:auto;width:143px" /></td>
                <td>
                    <h6>En el proyecto del trabajo final se agregó lo siguiente:</h6>
                    <ul type=”circle”>
                        <li>Se diseñó el archivo base.html y se implementó en las páginas (index.html, acercade.html y contacto.html) mediante herencia.</li>
                        <li>Se implementó el tag block para parametrizar el title de las páginas.</li>
                        <li>Se implementó la librería bootstrap, agregando un correcto maquetado combinando sus componentes, una imágen representativa del team y en (acercade.html) una galería de imágenes reales del team.</li>
                    </ul>
                </td>
                <td class="text-center"><a href="acercade">Enlace TP12</a></td>
            </tr>
            <tr>
                <td scope="row" class="text-center"><img src="https://i.ibb.co/NsRxgdJ/proyectodjango13.png" alt="Logotipo Proyecto" style="margin:0 10px 0 0;padding:0px;border:0px none;font:inherit;vertical-align:baseline;max-width:100%;height:auto;width:143px" /></td>
                <td>
                    <h6>En el proyecto del trabajo final se agregó lo siguiente:</h6>
                    <ul type=”circle”>
                        <li>Se creó la app proyectos.</li>
                        <li>Se diseñó la clase Proyecto con los siguientes atributos: nombre, descripción, imágen, url, created, updated.</li>
                        <li>Desde el panel de administrador se han agregado datos al registro de proyectos.</li>
                        <li>Se agregó el listado de proyectos en el archivo trabajos_realizados.html.</li>
                    </ul>
                </td>
                <td class="text-center"><a href="trabajos_realizados">Enlace TP13</a></td>
            </tr>
            <tr>
                <td scope="row" class="text-center"><img src="https://i.ibb.co/nm6YLYk/TP14.png" alt="Logotipo Proyecto" style="margin:0 10px 0 0;padding:0px;border:0px none;font:inherit;vertical-align:baseline;max-width:100%;height:auto;width:143px" /></td>
                <td>
                    <h6>En el proyecto del trabajo final se agregó lo siguiente:</h6>
                    <ul type=”circle”>
                        <li>Búsqueda de proyectos mediante su nombre.</li>
                        <li>CRUD de proyectos.</li>
                        <li>Se visualizan los detalles de un proyecto.</li>
                        <li>Se agregó la validación y autenticación (LoginForm).</li>
                        <li>Se agregó la paginación.</li>
                    </ul>
                </td>
                <td class="text-center"><a href="trabajos_realizados">Enlace TP14</a></td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}