{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Kurama Devs | {% block title %} {% endblock %}</title>
    <link rel="shortcut icon" href="https://i.ibb.co/qgnx2Bc/Icono1-KD.png">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <style>

.container_card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    flex-wrap: wrap;
}

.container_card .card {
    position: relative;
    width: 330px;
    height: 440px;
    color: #fff;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
    transition: 0.5s;
}

.container_card .card:hover {
    transform: translateY(-20px);
}

.container_card .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #38a9fa, rgb(18, 18, 165));
}

.container_card .card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #38a9fa, rgb(18, 18, 165));
    filter: blur(30px);
}

.container_card .card span {
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: rgb(79, 159, 250);
    z-index: 2;
}

.container_card .card span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgb(145, 193, 247);
    pointer-events: none;
}

.container_card .card img {
    position: relative;
    z-index: 10;
    padding: 20px 30px;
}

.container_card .card .card-body {
    position: relative;
    z-index: 10;
    padding: 10px 30px;
}

h5 { 
    color: rgb(20, 20, 53);
}

.col-lg-3_img {
    max-height: 170px;
    overflow: hidden
}

.container_card .card .card-body a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    flex-wrap: wrap;
}

footer, h1, h2, small {
  margin-top:20px;
}

.pagination {
  margin-top: 80px;
  margin-bottom: 30px;
}

.boton {
    width: 165px;
    margin-top:20px;
}

.col-lg-3_proyecto {
  width: 100%;
  max-height: 600px;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav .navbar-collapse form input {
  width: 350px;
}

    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
      <div class="container">
        <img src="https://i.ibb.co/2sm7N6V/Logo2-KD.png" alt="Logo-KD" border="0">
        <div class="navbar-collapse justify-content-center">
            <form class="d-flex" method="POST" action="{% url 'buscar-proyecto' %}">
                {% csrf_token %}
                <input class="form-control me-2" type="text" placeholder="Buscar proyectos..." aria-label="Search" name="busqueda">
                <button class="btn btn-outline-primary" type="submit">Buscar</button>
            </form>
        </div>
        <a class="xXx" href="{% url 'login' %}">
          <img src="https://i.ibb.co/cCR2LPz/User3-KD.png" alt="User-KD">
        </a>
        <div id='cab_usu'>
          {% if user.is_authenticated %}
            <a class="xXx s14 cF uhover b dib mar_t9 text-dark" href="#">Usuario conectado</a>
          {% else %}
            <a class="xXx s14 cF uhover b dib mar_t9 text-dark" href="{% url 'login' %}">Usuario anónimo</a>
          {% endif %}
          <div class="s12 c6f mar_t4 a_n a_c0c">
            {% if user.is_authenticated %}
                <a class="xXx uhover c0c text-dark" href="{% url 'logout' %}">Cerrar sesión</a>
            {% else %}
                <a class="xXx uhover c0c text-dark" href="{% url 'login' %}">Iniciar sesión</a>
                |
                <a class="xXx uhover c0c text-dark" href="{% url 'register' %}">Regístrate gratis</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <div class="container">    
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/acercade">Acerca de</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contacto">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'proyectos' %}">Trabajos realizados</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <div class="container">
        <h1>Team Kurama Developers</h1>
    </div>
      
      {% block content %} 
      
      {% endblock %}

    <footer class="page-footer font-small bg-info pt-4">
      <div class="container">
        <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/Team-Kurama-Developers-105631791897683" class="btn-floating btn-fb mx-1">
              <img src="https://i.ibb.co/MpmYZMv/Logo1-Face.png" alt="Face">
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="btn-floating btn-tw mx-1">
              <img src="https://i.ibb.co/LpHTnL8/Logo1-Twit.png" alt="Twit">
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="btn-floating btn-gplus mx-1">
              <img src="https://i.ibb.co/2FLLM68/Logo1-Inst.png" alt="Inst">
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="btn-floating btn-li mx-1">
              <img src="https://i.ibb.co/ZBDTVk4/Logo1-Yout.png" alt="Yout">
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="btn-floating btn-dribbble mx-1">
              <img src="https://i.ibb.co/vVv6dBj/Logo1-Pint.png" alt="Pint">
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-copyright text-center py-3">Team Kurama Developers &copy; 2021
      </div>
    </footer>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
      
</body>
</html>