{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block content %}

<div class="container">
    <h4>Contacto - Formulario de Contacto</h4>
    <div class="contact_form">
        <div class="formulario">      
            <h1>Coordinemos una Reunión</h1>
            <form action="" method="POST">{% csrf_token %}    
                <p>
                    <label for="nombre" class="colocar_nombre">Nombre
                        <span class="obligatorio">*</span>
                    </label>
                    <input type="text" name="introducir_nombre" id="nombre" required="obligatorio" placeholder="Escribe tu nombre">
                </p>
                <p>
                    <label for="domicilio" class="colocar_domicilio">Domicilio
                        <span class="obligatorio">*</span>
                    </label>
                    <input type="text" name="introducir_domicilio" id="domicilio" required="obligatorio" placeholder="Escribe tu domicilio">
                </p>
                <p>
                    <label for="ciudad" class="colocar_ciudad">Ciudad
                    </label>
                    <input type="text" name="introducir_ciudad" id="ciudad" placeholder="Escribe tu ciudad">
                </p>
                <p>
                    <label for="pais" class="colocar_pais">País
                    </label>
                    <select name="País">
                        <option selected value="Desconocido"> Seleccionar país </option>
                        <option value="Argentina">Argentina</option> 
                        <option value="Brasil">Brasil</option> 
                        <option value="Uruguay">Uruguay</option>
                        <option value="Paraguay">Paraguay</option> 
                        <option value="Bolivia">Bolivia</option>  
                     </select>
                </p>
                <p>
                    <label for="telefono" class="colocar_telefono">Número de teléfono
                        <span class="obligatorio">*</span>
                    </label>
                    <input type="tel" name="introducir_telefono" id="telefono" required="obligatorio" placeholder="Ejemplo: 3884576845">
                </p>
                <p>
                    <label for="email" class="colocar_email">Correo electrónico
                        <span class="obligatorio">*</span>
                    </label>
                    <input type="email" name="introducir_email" id="email" required="obligatorio" placeholder="Escribe tu correo electrónico">
                </p>    
                <p>
                    <label for="mensaje" class="colocar_mensaje">Mensaje
                        <span class="obligatorio">*</span>
                    </label>                     
                    <textarea name="introducir_mensaje" class="texto_mensaje" id="mensaje" required="obligatorio" placeholder="Deja aquí tu comentario..."></textarea> 
                </p>                    
                <button type="submit" name="enviar_formulario" id="enviar"><p>Enviar</p></button>
                <p class="aviso">
                    <span class="obligatorio"> * </span>los campos son obligatorios.
                </p>
            </form>
        </div>
    </div>
</div>

{% endblock %}