{% extends 'core/base.html' %}

{% block title %}Procesar{% endblock %}

{% block content %}

    <div class="container">
        <h4>El formulario de contacto se envió satisfactoriamente.</h4>
    </div>
    <div class="text-center">
        <img src="https://i.ibb.co/chwk4ny/Process-KD.png" class="rounded" alt="...">
    </div>

{% endblock %}