{% extends 'core/base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}

    <div class="container">
        <h4>Inicio</h4>
        <article class="browser">        
            HTML o hypertext markup language (lenguaje de marcas de hipertexto) es un código informático que se usa para crear páginas web
            y correos electrónicos. Los desarrolladores web, maquetadores de correo electrónico, redactores web y otros profesionales hacen uso de HTML.
        </article>
        <article class="browser">        
            Django es un framework para desarrollo web programado en python, gratuito y libre. Creado en 2003 cuando los desarrolladores
            del diario Lawrence Journal-World migraron la arquitectura de su versión online a Python.          
        </article>
        <article class="browser">        
            Bootstrap es el kit de herramientas de código abierto de front-end más popular del mundo, que presenta variables y mixins de Sass,
            sistema de cuadrícula receptivo, amplios componentes prediseñados y potentes complementos de JavaScript.
        </article>
        <h4>Propósito del sitio:</h4>
        <ul type=”circle”>
            <li>Crear páginas web con los estándares actuales de HTML5.</li>
            <li>Utilizar herramientas de edición de código de un modo más ágil.</li>
            <li>Conocer los diferentes elementos, etiquetas y atributos del lenguaje HTML.</li>
            <li>Crear la estructura de una web y sus contenidos.</li>
            <li>Definir el aspecto visual de los elementos de una web.</li>
            <li>Conocer las diferentes propiedades de CSS y CSS3.</li>
            <li>Maquetar nuestros sitios webs con los estándares actuales de CSS3.</li>
            <li>Controlar las versiones con Git y GitLab para proyectos en equipos de trabajo.</li>
            <li>Definir el diseño y usabilidad de una página web.</li>
            <li>Saber qué pasos seguir desde cero en el proceso de creación web a través de una metodología de trabajo profesional.</li>
        </ul>
    </div>

{% endblock %}