{% extends 'core/base.html' %}

{% block title %}Busqueda{% endblock %}

{% block content %}
    
    <center>
    {% if busqueda %}
        {% for proyecto in proyects %}
            <h2><a class="nav-link" href="{% url 'proyecto-detail' proyecto.id %}">{{ proyecto }}</a></h2>
        {% endfor %}
        <div class="text-center">
            <img src="https://i.ibb.co/chwk4ny/Process-KD.png" class="rounded" alt="...">
        </div>
    {% else %}
        <h1>No escribió el nombre en el barra de búsqueda.</h1>
    {% endif %}
    </center>

{% endblock %}