{% extends 'core/base.html' %}

{% block title %}Trabajos realizados{% endblock %}

{% block content %}

    <div class="container">
        <h4>Estos son los trabajos realizados por Team Kurama Developers.</h4>
        {% include 'proyectos/includes/mensajes_alerta.html' %}
        {% for proyecto in proyecto_list %}
        <div class="container_card">
            <div class="card">
                <span></span>
                <div class="col-lg-3_img">
                    <a class="nav-link" href="{% url 'proyecto-detail' proyecto.id %}"><img src="{{proyecto.imagen.url}}" class="img-fluid" alt="..."></a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{proyecto.nombre}}</h5>
                    <p class="card-text">{{proyecto.descripcion|safe}}</p>
                    <a href="{{proyecto.url}}" class="btn btn-primary">Enlace del TP</a>
                </div>
            </div>
        </div>
        {% if user.is_authenticated %}
            <div class="col text-center">
                <a href="{% url 'update' proyecto.id %}" class="boton btn btn-primary">Editar</a> 
                <a href="{% url 'delete' proyecto.id %}" class="boton btn btn-primary">Borrar</a>
            </div>
        {% endif %}
        {% endfor %}
        {% if is_paginated %}
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true">Anterior</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                        </li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                        <li class="page-item {% if page_obj.number == i %} active {% endif %}"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#">Siguiente</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
        <f><p><strong>Si quiere agregar un proyecto,
            {% if user.is_authenticated %}
                haga click <a href="{% url 'create' %}">Aquí</a>
            {% else %}
                editar o borrar, debe <a href="{% url 'login' %}">Iniciar Sesión</a>
            {% endif %}
        </f></strong></p>
    </div>

{% endblock %}