{% extends 'core/base.html' %}
{% load static %}
{% block title %}Actualizar Proyecto{% endblock %}
{% block content %}

<main role="main">
  <div class="container">
    <div class="row mt-3 mb-5">
      <div class="col-md-9 mx-auto">
          <form action="" method="post">{% csrf_token %}
            <p>¿Estás seguro de que quieres borrar <b>"{{ object }}"</b>?</p>
            <input type="submit" class="btn btn-primary btn-block" value="Confirmar" />
            <a class="nav-link" href="{% url 'proyectos' %}">Cancelar</a>
          </form>      
      </div>
    </div>
  </div>
</main>
{% endblock %}