{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{proyecto.nombre}}{% endblock %}
{% block content %}

<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <div>
            <div class="col-lg-3_proyecto">
                <img src="{{proyecto.imagen.url}}" class="img-fluid" alt="...">
            </div>
            <h2 class="section-heading mb-4">{{object.nombre}}</h2>
            <ul class="post-meta list-inline">
                <li class="list-inline-item">
                    <i class="circle"></i><small>{{proyecto.updated}}</small>
                </li>
            </ul>
            {{proyecto.descripcion|safe}}
            <div class="col">
                <a href="{% url 'proyectos' %}" class="boton btn btn-primary">Atrás</a> 
            </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}