{% extends 'core/base.html' %}
{% load static %}
{% block title %}Registro{% endblock %}
{% block content %}

<main role="main">
  <div class="container">
    <div class="row mt-3 mb-5">
      <div class="col-md-9 mx-auto">
        <form action="" method="post">
          {% csrf_token %}
          <h3 class="mb-4">Registro</h3>
          {{ form.as_p }}
          <div class="text-center">
            <input type="submit" class="btn btn-primary btn-block" value="Confirmar" />
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}