.contact_form {  
    width: 460px; 
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #fbfbfb; 
    padding-left: 30px; 
}
    
input, select {
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: rgb(51, 51, 173); 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
}
    
textarea {
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: rgb(51, 51, 173); 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
}
    
label {
    display: block; 
    float: center;
}
    
#enviar {
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: rgb(51, 51, 173); 
    border-color: rgb(51, 51, 173); 
    border-style: solid; 
    border-radius: 10px;  
    width: 405px;   
    cursor: pointer;
}
    
#enviar p {
    padding: 8px;
    color: #fff; 
}

span {
    color: rgb(51, 51, 173);
}
    
.aviso {
    font-size: 13px;  
    color: #0e0e0e;
}
    
p {
    font-size: 14px; 
    color: #0e0e0e;
}
    
.formulario input:focus {
    outline:0;
    border: 1px solid #38a9fa;
}

.formulario select:focus {
    outline:0;
    border: 1px solid #38a9fa;
}
    
.formulario textarea:focus {
    outline:0;
    border: 1px solid #38a9fa;
}

h1 {
    font-size: 39px;  
    text-align: letf; 
    padding-bottom: 20px; 
    color: rgb(20, 20, 53);
}

h4 {  
    text-align: letf; 
    padding: 20px; 
    color: rgb(31, 70, 85);
}

.profile-card-3 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  text-align: center;
  height:368px;
  border:none;
}
.profile-card-3 .background-block {
    float: left;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.profile-card-3 .background-block .background {
  width:100%;
  vertical-align: top;
  opacity: 0.9;
  -webkit-filter: blur(0.5px);
  filter: blur(0.5px);
   -webkit-transform: scale(1.8);
  transform: scale(2.8);
}
.profile-card-3 .card-content {
  width: 100%;
  padding: 15px 25px;
  color:#232323;
  float:left;
  background:#efefef;
  height:50%;
  border-radius:0 0 5px 5px;
  position: relative;
  z-index: 9999;
}
.profile-card-3 .card-content::before {
    content: '';
    background: #efefef;
    width: 120%;
    height: 100%;
    left: 11px;
    bottom: 51px;
    position: absolute;
    z-index: -1;
    transform: rotate(-13deg);
}
.profile-card-3 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  z-index:99999;
}
.profile-card-3 h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size:25px;
}
.profile-card-3 h2 small {
  display: block;
  font-size: 15px;
  margin-top:10px;
}

.profile-card-3 .icon-block{
    float:left;
    width:100%;
    margin-top:15px;
}
.profile-card-3 .icon-block a{
    text-decoration:none;
}

.nav-item {
    position: relative;
    padding-bottom: 8px;
    cursor: pointer;
}

.nav-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgb(18, 18, 165);
    transition: width 0.4s ease-out;
}

.nav-item:hover.nav-item::after {
    width: 100%;
}

body {
    background: linear-gradient(to bottom, #38a9fa, white);
}

.container_card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    flex-wrap: wrap;
}

.container_card .card {
    position: relative;
    width: 330px;
    height: 440px;
    color: #fff;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
    transition: 0.5s;
}

.container_card .card:hover {
    transform: translateY(-20px);
}

.container_card .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #38a9fa, rgb(18, 18, 165));
}

.container_card .card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #38a9fa, rgb(18, 18, 165));
    filter: blur(30px);
}

.container_card .card span {
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: rgb(79, 159, 250);
    z-index: 2;
}

.container_card .card span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgb(145, 193, 247);
    pointer-events: none;
}

.container_card .card img {
    position: relative;
    z-index: 10;
    padding: 20px 30px;
}

.container_card .card .card-body {
    position: relative;
    z-index: 10;
    padding: 10px 30px;
}

h5 { 
    color: rgb(20, 20, 53);
}

.col-lg-3_img {
    max-height: 170px;
    overflow: hidden
}

.container_card .card .card-body a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    flex-wrap: wrap;
}